ale-py==0.7.3
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
certifi==2021.10.8
cffi
charset-normalizer==2.0.10
click==8.0.3
cloudpickle==1.6.0
colorama
cycler
fonttools
future
gym==0.21.0
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
kiwisolver
matplotlib
munkres==1.1.4
numpy
olefile
opencv-python==4.5.5.62
packaging 
Pillow 
pycparser 
pyglet 
pyparsing 
python-dateutil
requests==2.27.1
six
torch
torchvision 
tornado
tqdm 
typing_extensions
unicodedata2
urllib3==1.26.8
zipp==3.7.0